
#searchBar
{
  margin: 15px 10px;
}

body
{
background-color: #EBE8BF;
}

h1
{
  text-align: center;
  color: Orange;
  font-size: 70px;
}

h2
{
  color: Orange;
}
table
{
  background-color: white;
}

.jumbotron
{
  color: #1F5394;
}
.form-group
{
  color: #1F5394;
}
.tableWrapper
{

  color: #1F5394;
  max-height: 400px;
  overflow: auto;
}
